<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nuevo Cliente</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h2>Nuevo Cliente</h2>
		<br />
		<form role="form" action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
			<div class="row">
				<div class="col-xs-6">
					<a class="btn btn-primary pull-left" href="#" th:href="@{/customer/list}">
						<span class="glyphicon glyphicon-menu-left"></span> Volver
					</a>
					<button class="btn btn-primary pull-left" type="submit">
						<span class="glyphicon glyphicon-floppy-disk"></span> Guardar
					</button>
				</div>
				<div class="col-xs-6"></div>
			</div>
			<div class="form-group" th:if="${edit == true}">
				<label for="id">Id</label> 
				<input id="id" class="form-control" type="text" th:field="*{id}" th:value="${id}"/>
			</div>
			<div class="form-group">
				<label for="dni">DNI*</label> 
				<input id="dni" class="form-control" type="text" placeholder="Ingrese el DNI" th:field="*{dni}" th:value="${dni}"/>
			</div>
			<div class="form-group">
				<label for="dni">Nombre*</label> 
				<input id="dni"	class="form-control" type="text" placeholder="Ingrese el nombre del cliente" th:field="*{name}" th:value="${name}"/>
			</div>
			<div class="form-group">
				<label for="dni">Ciudad*</label> 
				<input id="dni" class="form-control" type="text" placeholder="Ingrese el nombre del ciudad" th:field="*{city}" th:value="${city}"/>
			</div>
			<div class="form-group">
				<label for="dni">Provincia*</label> 
				<input id="dni" class="form-control" type="text" placeholder="Ingrese la provincia"	th:field="*{province}" th:value="${province}"/>
			</div>
			<div class="form-group">
				<label for="dni">Dirección*</label> 
				<input id="dni" class="form-control" type="text" placeholder="Ingrese la dirección"	th:field="*{address}" th:value="${address}"/>
			</div>
			<div class="form-group">
				<label for="dni">Telefono*</label> 
				<input id="dni" class="form-control" type="text" placeholder="Ingrese el numero de telefono" th:field="*{phone}" th:value="${phone}"/>
			</div>
			<div class="form-group">
				<label for="dni">Celular*</label> 
				<input id="dni"	class="form-control" type="text" placeholder="Ingrese el numero de celular" th:field="*{celphone}" th:value="${celphone}"/>
			</div>
		</form>
	</div>


</body>
</html>