<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Nuevo Producto</title>
</head>
<body>
<p>Nuevo Producto</p>
<hr />

<form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
	<p>Nombre: <input type="text" th:field="*{name}"/></p>
<!-- 	<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nombre con errores!</p> -->
	<p>Descripción: <input type="text" th:field="*{description}"/></p>
	<p>Precio: <input type="number" th:field="*{price}"/></p>
	<p><input type="submit" value="Guardar"/></p>
</form>
<br />
</body>
</html>