<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Customers</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
  	<pre>Usuario: <span th:text="${username}"></span></pre>
	<div class="container">
		<h2>Clientes</h2>
		<br/>
		<div class="row">
			<div class="col-xs-6">
			<a class="btn btn-primary pull-left" href="#" th:href="@{/customer/addcustomer}">
				<span class="glyphicon glyphicon-user"></span> Nuevo Cliente
			</a>
			<form th:action="@{/logout}" method="POST">
				<button class="btn btn-primary pull-left" type="submit">
					<span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión
				</button>
			</form>
			</div>
			<div class="col-xs-6"></div>
		</div>
		<div th:if="${result == 1}" class="alert alert-success" role="alert">Guardado con éxito.</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert">Error al guardar el nuevo cliente.</div>
		<div th:if="${result == 3}" class="alert alert-success" role="alert">Cliente borrado con éxito.</div>
		<br/>
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>DNI</th>
					<th>Nombre</th>
					<th>Ciudad</th>
					<th>Dirección</th>
					<th>Telefono</th>
					<th>Celular</th>
					<th>Operaciones</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.dni}"></td>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.phone}"></td>
					<td th:text="${customer.celphone}"></td>
					<td>
						<a href="#" th:href="@{/customer/editcustomer?id=__${customer.id}__}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="#" th:href="@{/customer/remove?id=__${customer.id}__}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>