<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

  </head>

  <body>

    <div class="container">
      <form class="form-signin" th:action="@{/logincheck}" method="POST">
      	<div class="form-group text-center">
  			<img src="../static/imgs/user.png" th:src="@{/imgs/user.png}" class="img-circle" width="100"/>
  		</div>
      	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <h2 class="form-signin-heading">Inicio de Sesión</h2>
        <input type="text" class="form-control" placeholder="Nombre de Usuario" name="username" id="username"/>
        <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password"/>
        <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o contraseña invalida.</div>
        <div th:if="${logout != null}" class="alert alert-info" role="alert">Sesión finalizada con éxito.</div>
        <button class="btn btn-lg btn-info btn-block" type="submit"> Iniciar Sesión </button>
      </form>

    </div> <!-- /container -->

</body>
</html>